---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 85
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
AllowShortIfStatementsOnASingleLine: Always
PointerAlignment: Left
AccessModifierOffset: -2
IndentAccessModifiers: false
IndentCaseBlocks: false
BreakConstructorInitializers: BeforeComma
BinPackParameters: OnePerLine
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<boost/test/.*>$'
    Priority: 1
  - Regex: '^<.*>$'
    Priority: 2
  - Regex: '^"mzpeak(\.h|/.*)"$'
    Priority: 3
...
